/*------------------------------------*\
  #BASICS-TYPO
\*------------------------------------*/

body {
    background-color: #e8e8e8 ; // #f6f6f6
    color: #333;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.active {
  color: red;
}

.mono {
  font-family: $mono;
}
#mono {
  margin-bottom: 1em;
}

a {
    color: $blauw;
    text-decoration: none;
    transition: .1s;
}


button {
  padding: 18px;
  font-size: 18px;
  margin-top: 2em;
}
.btn {
    display: inline-block;
    border-radius: 2px;
    -webkit-appearance: none;
    padding: 12px 21px;
    margin-top: 2em;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #c3c3c3;
    // color: #333;
    text-decoration: none;
}
.btn:hover {
  border: 1px solid #c3c3c3;
  border-bottom: 2px solid #c3c3c3;
  background-color: #F7F6F6;  
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
  line-height: 1.2;
}

// h1, h2, h3, h4, h5, h6 {
//   margin-top: 0;
//   margin-bottom: .5em;
// }

h1, .h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 200;
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4, .h4 {
  font-size: 2rem;
  font-weight: 200;
}

h5, .h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

h6, .h6 {
  font-size: 1.5rem;
  font-weight: 200;
}


p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1em;
}

b {
  font-weight: 600;
  font-size: 1em;
}


li {
  list-style: none;
}

.pl-2em {
  padding-left: 2em;
}

.mb-0 {
  margin-bottom: 0;
}