/*------------------------------------*\
  #PAGES-BLOG
\*------------------------------------*/

.blog {
	margin-top: 12px;
	h3 {
		margin-bottom: 0;
	}
}

.layout-blog {
	h2 {
		margin-top: 10px;
		margin-bottom: 36px;  
	}
}

.blog-post {
	margin-bottom: 2rem;
	h3 {
		color: $zwart;
		font-weight: 300;
	}
	p {
		font-size: 21px;
		font-weight: 300;
		margin-bottom: 1em;
	};
}

.blog-links {
	h5 {
		font-weight: 400;
		font-size: 18px;
	}
}

.post-chapeau {
	margin-bottom: 2em;
}