/*------------------------------------*\
  #PAGES-BOOKS
\*------------------------------------*/

// books

.books {
	margin-top: 12px;
  h1 {
    margin-bottom: 2rem;
    font-size: 42px;
  }
  .kitchen-title {
    margin-bottom: 2rem;
  }
  margin-bottom: 2rem;
  @media screen and (min-width: $on-palm){  
    h1 {
      font-size: 3 rem;
    }   
  }
}

.book {
  margin-bottom: 2rem;
  h3 {
    margin-bottom: 0;  
    color: $blauw;
    font-size: 27px;
  }
  span {
    font-family: $mono;
    font-weight: 500;
    font-size: 23px;
    color: black;
  }  
  h5 {
    font-size: 23px;
    font-weight: 300;
  }
  @media screen and (min-width: $on-palm){  
    h3 {
      font-size: 36px;
    }
    span {
      font-size: 27px;

    }  
    h5 {
      font-size: 27px;

    }  
  }
}

// layout-books

.layout-books {
  h1 {
    color: $blauw;
    margin-top: 10px;
    margin-bottom: 48px;
  }
  p {
    font-family: $serif;
    font-size: 21px;
    margin-top: 0;
  }  
}
.book-box {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.book-box_image {
  margin-bottom: 36px;
  width: 90%;
  @media (min-width: 768px) {
    width: calc(50% - 10px);
  }  
  img {
    width: 90%;
    border: 1px solid silver;
    box-shadow: 25px -25px 0 0 #f7dedb

  }
}

.book-box_credits {
  @media (min-width: 768px) {
    width: calc(50% - 10px);
  }  
}

.book-content {
  p {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 1em;    
  }
}

.book-links {
	h5 {
		font-weight: 400;
    font-size: 21px;
    color: $rood;
	}
}