/*------------------------------------*\
  #NAVIGATION-HEADER
\*------------------------------------*/

.navbox {
  position: relative;
  // padding-top: 2em;
  // padding-bottom: 3em;
  // padding: 2em 0 0 20px;
  padding-top: 2em;
  // padding-left: 20px;
  // margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  padding-bottom: 12px;
	@media screen and (min-width: $on-palm){  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // padding-left: 0;
		margin: auto;
		max-width: 628px;
    padding-bottom: 1em;
  }
  .logo {
    color: $brand;
    font-size: 30px;
    font-weight: 600;
    padding-top: 36px;
    padding-left: 20px;  
    position: relative;
    z-index: 100;
    @media (min-width: $on-palm) {
      float: left;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;  
    }
  }
  .navbar {
    float: none;
    padding-top: 8em;
    width: 100%;
    @media (min-width: $on-palm) {
      float: right;
      padding-top: 7px;
    }
    li {
      display: block;
      line-height: 2em;
      font-size: 30px;
      font-weight: 200;
      color: $blauw;
      text-align: center;
      @media (min-width: $on-palm) {
        padding-left: 18px;
        display: inline;        
        font-size: 18px;
        font-weight: 400;
        color: $blauw;
      }
    }  
  }
}

.active .nav-link, 
.nav-link:hover {
    border-bottom: 1px solid;
    border-bottom-color: #e74c3c;
    color: #e74c3c;
    text-decoration: none;
    transition: .1s;
    padding-bottom: 3px;
}

.nav-link {
  border-bottom: 1px solid transparent;
  color: $blauw;
  font-weight: 300;
  font-size: 36px;
  line-height: 72px;
  @media (min-width: $on-palm) {
      font-size: 21px;
      line-height: 0;
  }

  // display: block;
  // font-size: 19px;
  // font-weight: 400;
  // line-height: 1;
  // margin-left: 1.5em;
  // margin-top: 1em;
  // min-height: 1em;
  // padding: .5em 0;
  // position: relative;
}


