---
layout: page
---
<div class="recipes layout-recipes">
    <h1 class="mb-0">{{ page.title }}</h1>
</div>
<div class="recipe-recipe">
    <div class="recipe-recipe_ingredients">
        <span>ingredients</span>
        <p>ingredient 1</p>
        <p>ingredient 2</p>
        <p>ingredient 3</p>
        <p>ingredient 4</p>        
    </div>
    <div class="recipe-recipe_method">
        <span>method</span>
        <ol>
            <li>Step one</li>
            <li>Step two</li>
            <li>Step three</li>
            <li>Step four</li>    
        </ol>
    </div>
</div>
<br>
<hr>
<a class="zwart" href='/books/{{ page.book | slugify }}'>
<div class="recipe-box">
    <div class="recipe-box_image">
        <img src="/img/books/{{ page.book | slugify }}_title.jpg" alt="">
    </div>
    <div class="recipe-box_credits">
    {%- for book in site.books -%}
    {%- if book.title == page.book -%}
        <h6>{{  book.title }}</h6>    
        <p>{{  book.author }}</p>     
        <p>{{  book.content | truncatewords: 20 }} <span>Read more ></span></p>     
    {%- endif -%}
    {%- endfor -%}           
    </div>
</div>
</a>