---
layout: page
---

<div class="layout-books">
    <h1>{{ page.title }}</h1>    
</div>

<!-- <h6>{{ page.author }}</h6>
<p>{{ page.publisher }} {{ page.year }}</p>
<p>Kitchen: {{ page.kitchen }}</p>
<p>Link: <a href="{{ page.book_url }}">{{ page.link }}</a></p> -->

<div class="book-box">
    <div class="book-box_image">
        <img src="{{ site.baseurl}}/img/books/{{ page.title | slugify }}_cover.jpg" alt="">
    </div>
    <div class="book-box_credits">
            {% for book in site.books %}
            {% if book.title == page.title %}
                <h6>{{  book.author }}</h6>    
                <p>{{  book.publisher }} {{ book.year }}</p>    
                <p>Kitchen: {{ book.kitchen }}</p>    
                <p>Source / Read more <a href='{{ book.book_url}}' target="_blank">&nbsp;{{ book.link }}</a></p> 
            {% endif %}
            {% endfor %}           
    </div>
</div>
</a>

<br>

<div class="book-content">
    {{ content }}
</div>

<p>Recipes</p>

<div class="book-links">
    {% for recipe in site.data.recipes %}
    {% if recipe.book == page.title %}
    <a href="{{ site.basurl}}/recipes/{{ recipe.title | slugify }}">
    <h5>{{ recipe.title }} {{ recipe.index }}</h5>
    </a>
    {% endif %}
    {% endfor %}    
</div>
